node_modules
.env
*.xlsx
*.xls
.DS_Store
logs/
reports/
app/data/*.db
app/data/*.db-shm
app/data/*.db-wal
copies
data
structures
IAC
.terraform
.terraform.lock.hcl
.terraform.lock.hcl.backup
.terraform.*
*.log
